body {
    background-image: url('https://www.pngmagic.com/product_images/blue-gradient-texture-background.jpg');
    background-size: cover;
    height: 100%; 
    background-repeat: no-repeat;
}
.card0{
    width: 94%;
}
.card1 {
    background-image: linear-gradient(#2196F3, #81D4FA);
    padding: 30px 20px 30px 50px;
}
.image{
    width: 320px;
    height: 320px;
}